.btn-width {
    width: 80%;
  }
  td{
    width: 30%;
    
  }
  .btn-upgrade{line-height: 28px;
  display: flex;
  justify-content: center;}
  .table-row{
    line-height: 40px;
    text-align: left;
  }
  .subscription{
    text-align: center;
    justify-content: center;
  }