.App {
  text-align: center;
  background-color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.toggle_icon {
  width: 30px;
  height: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* sidebar css */
* {
  padding: 0;
  margin: 0;
}

.sidecontainer {
  padding-left: 5%;
}
.containe {
  width: 100% !important;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  display: flex;
}
/* 
.container .sidebar{
  position:fixed;
  background-color:#fff;
  height:100vh;
  width:90px;
  z-index:10;
  text-align:center;
  box-shadow:0px 15px 30px rgba(0,0,0,0.1);
} */
.sidebar li:nth-child(1) {
  padding: 30px 0px;
}

.sidebar li:hover:nth-child(1) {
  padding: 30px 0px;
  background-color: transparent;
  color: #000;
}

.sidebar li {
  padding: 12px;
  width: max-content;
  transition: all 0.5s;
  letter-spacing: 1px;
  display: flex;
  cursor: pointer;
  flex-direction: row;
}

.sidebar li span:nth-child(2) {
  font-size: 20px;
  font-weight: 500;

  margin-left: 15px;
}
.sidebar li span:nth-child(2).active {
  color: #3c9adf;
}

.logo {
  height: 100px;
  width: 100px;
}
/* /////////////////// */
/* signature */

.content {
  padding: 0 5% 0 5%;
}

.upgrade:hover {
  background-color: white !important;
  color: #3b9add !important;
  border-radius: 20px;
}
.upgrade img {
  width: 22px;
  margin-left: 4px;
}
.upgrade {
  padding-left: 27px !important;
  padding-right: 27px !important;
  font-size: 15px !important;
  background-color: #3b9add !important;
  border-radius: 20px !important;
  color: white !important;
  width: max-content;
}
.profile {
  float: right;
}
.upgrade svg {
  color: blue;
  width: 21px;
  margin-left: 6px;
  background-color: white;
  border-radius: inherit;
  padding: 3px;
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: #fff solid 2px;
  box-shadow: #f1f1f1 1px 2px 2px;
  margin-left: 10px;
}
.notify {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}
.signatureheading {
  font-size: 35px;
  color: #3b9be2;
  font-weight: 500;
  margin-top: 50px;
}
.sign {
  display: flex;
}
.upload,
.team-icon {
  display: flex;
}
.sign-menu {
  justify-content: center;
  text-align: center;
  padding: 12px;
}
.sign-menu h1 {
  margin-top: 3%;
  font-size: 30px;
  color: #3b9be2;
  position: absolute;
  text-align: center;
  justify-content: center;
  margin-left: 8%;
  z-index: 1;
  width: fit-content;
}
.sign-menu p {
  margin-top: 7%;
  font-size: 14px;
  color: #3b9add;
  font-family: poppins;
  position: absolute;
  text-align: center;
  justify-content: center;
  margin-left: 7%;
  z-index: 1;
  width: 141px;
}
.active-sign-menu {
  color: #ffffff !important;
}
.sign-menu img {
  position: relative;
  background-size: cover;
  width: 100%;
  box-shadow: #f1f1f1 1px 2px 2px;
  border-radius: 50px;
}

.only_me {
  color: #3a9be2;
}
.sign-document h1 {
  margin-top: 45px;
  font-weight: 500;
  font-size: 20px;
}
.sign-document p,
.team p {
  font-size: 16px;
  color: #b8b8b8;
  text-align: center;
}
.team-document {
  display: flex;
}
.signinput {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
.signinput input {
  width: 50%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  box-shadow: #f1f1f1 1px 1px 1px;
}
.signinput input::placeholder,
.sign-document textarea::placeholder {
  color: #b8b8b8;
}
.sign-document textarea {
  margin-top: 30px;
  border-radius: 10px !important;
  border: 2px solid #f1f1f1 !important;
  width: 100%;
  padding: 10px 20px;
  resize: none;
  box-shadow: #f1f1f1 1px 1px 1px;
}
.upload,
.fill {
  margin-top: 30px;
}
.drop {
  border-radius: 10px;
  background-color: #edf6fd;
  justify-content: center;
  padding: 80px 50px;
  width: 60%;
  height: 272px;
  box-shadow: #f1f1f1 1px 2px 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.drop button {
  margin-left: 35%;
}
.drop h1 {
  margin-top: 15px;
  text-align: center;
  color: #3c9adf;
  font-size: 25px;
  margin-left: 30%;
}
.gdrive,
.onedrive {
  border-radius: 10px;
  justify-content: center;
  padding: 80px 50px;
  width: 20%;
  height: 272px;
  border: 3px solid #f1f1f1;
  margin-left: 20px;
  box-shadow: #f1f1f1 1px 2px 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.gdrive img,
.onedrive img {
  width: 65px;
  height: 60px;
  display: block;

  margin-left: auto;
  margin-right: auto;
}
.gdrive p,
.onedrive p {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

/* /// */

/*login page css strt*/
#login_page .insign_login .login_side .free_button .try_free {
  float: right;
  margin-top: 10%;
  background-color: #3b9add;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
}
#login_page .insign_login .header {
  padding: 50px 0px;
  display: flex;
}
#login_page .insign_login .login_heading {
  text-align: center;
  color: black;
}
#login_page .col-md-8 {
  width: 66% !important;
}
#login_page .insign_login .half_haeding {
  color: #3f9bdf;
}
#login_page .insign_login .login_heading h1 {
  font-size: 40px;

  padding: 12px 0px;
}
#login_page .insign_login .login_para {
  text-align: center;
}
#login_page .insign_login .login_para p {
  font-size: 14px;
  color: #918c8c;
}
#login_page .insign_login .login_side .login_form {
  padding: 0% 15%;
  position: relative;
}
#login_page .login_form input {
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 18%) 0px 5px 15px;
  border: none;
}
#login_page .login_form .form-group {
  padding: 8px 0px;
}
#login_page .login_form input[type="email"]:focus {
  border: none;
}
#login_page .login_form input[type="password"]:focus {
  border: none;
}
#login_page .login_form .login_btn {
  background-color: #3a9be2;
  color: white;
  width: 100%;
  border: none;
  padding: 6px 0px;
  margin: 12px 0px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
}
#login_page .login_form .form_or {
  text-align: center;
}
#login_page .login_form .form_or h5 {
  color: #3a9be2;
  font-size: 25px;
}
#login_page .login_form .google_btn {
  background-color: #f5f3f4;
  color: #959394;
  width: 100%;
  padding: 6px 0px;
  margin: 12px 0px;
  border: 1px solid #efdce6;
  border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
}
#login_page .newhere_side {
  background-color: #3a9be2;
  padding: 15% 4%;
  position: relative;
}
#login_page .newhere_side .new_heading h1 {
  color: white;
  text-align: center;
  font-size: 35px;
}
#login_page .newhere_side .new_para p {
  color: white;
  font-size: 14px;
  padding: 10px 0px;
  text-align: center;
}
#login_page .newhere_side input {
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 18%) 0px 5px 15px;
  border: none;
}
.form {
  margin-top: 40px;
}
#login_page .newhere_side .form-group {
  padding: 6px 0px;
}
#login_page .newhere_side .form_text {
  color: white;
  font-size: 14px;
  padding: 10px 0px;
  text-align: center;
}
#login_page .newhere_side .newhere_login {
  background-color: white;
  color: #3a9be2;
  width: 100%;
  border: none;
  padding: 6px 0px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
}
#login_page .newhere_side .newhere_google {
  background-color: white;
  color: #959394;
  width: 100%;
  border: none;
  padding: 6px 0px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
}
#login_page .newhere_side .newhere_or {
  text-align: center;
  padding: 8px 0px;
}
#login_page .newhere_side .newhere_or h5 {
  color: white;
  font-size: 25px;
}
#login_page .newhere_side .term_privacy a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
#login_page .newhere_side {
  background-color: #3a9be2;
  padding-top: 15%;
}
#login_page .newhere_side .new_heading h1 {
  color: white;
  text-align: center;
  font-size: 35px;
}
.login_img {
  position: absolute;
  top: 36%;
  left: -45px;
  z-index: -1;
}
.loginform_img {
  position: absolute;
  right: 4%;
}
.newhere_img {
  position: absolute;
  right: 0px;
  top: 17%;
}

#login_page .insign_login {
  height: 100vh;
}
#login_page .login_side {
  padding: 0% 7%;
}
.google_icon_login,
.goolge_signup {
  width: 3%;
  position: absolute;
  left: 32%;
  top: 81%;
}

#login_page {
  /* overflow: hidden; */
  height: 100vh;
}
#login_page .newhere_side .img_newhere {
  position: relative;
}
#login_page .login_forget p a {
  float: right;
  text-decoration: none;
  color: #a5a5a5;
  font-size: 18px;
}
#login_page .new_forget p a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  float: right;
}
#login_page .newhere_side .form_text p {
  padding-top: 10%;
}
#login_page .login_form .eyelash {
  position: absolute;
  right: 25%;
  top: 23%;
  width: 3%;
}
#login_page .newhere_side .eyelash {
  position: absolute;
  right: 5%;
  top: 44.5%;
  width: 6%;
}

/*login page css end*/

/* Agreement */
.agreeheading {
  font-size: 35px;
  color: #3b9be2;
  font-weight: 500;
}
.agree-folder {
  margin-top: 10px;
}
.agreement-size {
  width: 100% !important;
}
#dropdown-basic,
.form-inline input {
  padding: 15px 25px;
}
.form-inline input::placeholder {
  color: #919191;
}
#dropdown-basic,
.form-inline {
  background-color: white;
  color: #919191;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  box-shadow: #f1f1f1 1px 1px 1px;
}
.dropdown-toggle::before {
  position: absolute;
  border-left: 10px solid #fff;
}
.agree-options,
.distance,
.agree-document {
  display: flex;
  justify-content: space-between;
}
.search {
  margin-left: 10px;
}
.status {
  float: right;
}
.contract {
  margin-left: 10px;
}
.agree-document-icon {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.agree-document-icon .result-count {
  font-size: 25px;
  font-weight: 500;
}
.agree-document {
  margin-top: 25px;
}
.agree-document .result-count {
  font-size: 25px;
  font-weight: 500;
}
.folder {
  background-color: #f5f5f5;
  margin: 10px;
  border-radius: 10px;
  padding: 10px 20px;
}
.folder img {
  padding: 5px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.folder-container {
  display: flex;
  width: 100%;

  flex-direction: column;
}
.folder-container p {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-weight: 500;
  font-size: 20px;
}

.signup_page #login_page .login_form .eyelash {
  position: absolute;
  top: 38%;
}
/* ///// */

/*login page css*/
#login_page .dont_account {
  text-align: center;
  font-size: 15px;
  font-family: roboto;
  color: #918c8c;
}
#login_page .insign_login .login_side .login_form {
  padding: 0% 23%;
  position: relative;
}
/* #login_page .login_form .eyelash { position: absolute; right: 25%; top: 25%; width: 3%; } */
.google_icon {
  width: 3%;
  position: absolute;
  left: 34%;
  top: 82%;
}
#login_page .dont_account a {
  text-decoration: none;
}
/*login page css*/

/* agreement */
.agreetable table {
  width: 100%;
  text-align: center;
  border-bottom: none;
}
.agreetable table tr td,
.agreetable table tr th {
  border-right: #d0d0d0 solid 2px;
  border-left: #d0d0d0 solid 2px;
}
.agreetable table tr {
  border-bottom: #d0d0d0 solid 2px;
}
.agreetable table tr td #dropdown-basic {
  border: none;
  color: #000;
}
.agreetable table tr th {
  background-color: #edf6fd;
  height: 60px;
  color: #000;
}
.agreetable table tr:last-child,
.agreetable table tr:first-child {
  border-bottom: none;
}
/* /////// */
.team {
  width: 80%;
}

.teamcart {
  background-color: #f5f5f5;
  border-radius: 10px;
  justify-content: center;
  padding: 1% 2%;

  width: fit-content;
  height: fit-content;
  border: 3px solid #f1f1f1;
  margin-left: 20px;
  box-shadow: #f1f1f1 1px 2px 5px;
  justify-content: center;
  align-items: center;
}
.cartcontent {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: -10px;
}
.cartcontent img {
  width: 100px;
  height: 100px;
}
.cartcontent p {
  size: 25px;
  font-weight: 600;
  margin-top: 10px;
}

/*Setting page css*/
.save_btn {
  margin-top: 30px;
}
.sinature_tabs .nav-item {
  position: relative;
}
.settings_page > :last-child {
  margin-bottom: 50px;
}
.settings_page > :nth-child(2) {
  margin-bottom: 45px;
}
.sign-document {
  max-width: 80%;
  margin-bottom: 30px;
}
.sinature_tabs #justify-tab-example-tab-home {
  border: none;
}
.sinature_tabs #justify-tab-example-tab-home {
  color: #202020;
}
.sinature_tabs #justify-tab-example-tab-profile:focus-visible {
  border: none;
}
.save_btn .upgrade {
  padding-left: 45px !important;
  padding-right: 45px !important;
}
.sinature_tabs #justify-tab-example-tab-longer-tab {
  border: none;
  color: #202020;
}
.sinature_tabs button#justify-tab-example-tab-profile {
  border: none;
  color: #202020;
}
.sinature_tabs #justify-tab-example-tab-profile:hover {
  border: none;
  color: #202020;
}
.enable-unable-btn {
  display: flex !important;
  justify-content: space-between;
  width: 70%;
}
.sinature_tabs .nav-tabs {
  border: none;
  width: 80%;
}
.settings_page h1 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}
.sinature_tabs .nav-tabs .nav-item {
  max-width: 210px;
  font-weight: bold;
  color: #000 !important;
}
.settings_radio_btn {
  display: flex;
  flex-direction: column;
}
.form-check {
  display: flex;
  flex-direction: row;
}
.form-check-inline {
  margin-left: 5%;
}
.form-check-inline .enable-btn label,
.form-check-inline .unable-btn label {
  margin-left: 4px;
}
.unable-btn {
  margin-left: 20%;
}
/* #justify-tab-example-tab-home:focus {border-bottom: 4px solid #3B9BE2; position: absolute; width: 123px; left: 111.3px;} */
.setting_input .redirecting {
  width: 49%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  box-shadow: #f1f1f1 1px 1px 1px;
  margin: 2% 0%;
}
/*Setting page css*/

.sinature_tabs .nav-tabs li .active {
  border-bottom: 4px solid #3b9add !important;
}

.toggle_btn {
  margin-top: 25px;
  position: absolute;
}
